@import url("fonts.css");
@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;

    background: #18181b;
    color: #fafafa;
}

a {
    text-decoration: none;
    color: #60a5fa;
}